<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,960}}</string>
                <key>sourceSize</key>
                <string>{720,960}</string>
            </dict>
            <key>boom_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{652,428}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,428}}</string>
                <key>sourceSize</key>
                <string>{652,428}</string>
            </dict>
            <key>boom_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,900},{208,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,133}}</string>
                <key>sourceSize</key>
                <string>{208,133}</string>
            </dict>
            <key>boom_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,724},{285,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,174}}</string>
                <key>sourceSize</key>
                <string>{285,174}</string>
            </dict>
            <key>ui_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,900},{103,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,104}}</string>
                <key>sourceSize</key>
                <string>{103,104}</string>
            </dict>
            <key>ui_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1035},{160,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,162}}</string>
                <key>sourceSize</key>
                <string>{160,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:111fe429138476beedd40ee32cd59537:1/1$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
